@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --nextui-background: #ffffff;
  --nextui-foreground: #171717;

  --warning-color: #ff4d4f;
}

[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
  --nextui-background: #0a0a0a;
  --nextui-foreground: #ededed;

  --warning-color: color-mix(in oklab, #ff4d4f 30%, #000000 70%);
}

[data-theme="light"] {
  --background: #ffffff;
  --foreground: #171717;
  --nextui-background: #ffffff;
  --nextui-foreground: #171717;
 
  --warning-color: #ff4d4f;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

button.warning {
  background-color: var(--warning-color);
}

